<div class="text-center pt-5">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="text-center mb-4">
    <%= image_tag ("Handmader logo.png"), size: '150x150'  %>
    <h1 class="h3 mb-3 font-weight-normal">User　LOGIN</h1>
    <p>ようこそHandmaderへ</p>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
<% end %>
<br/>
<div class="col-md-8 mx-auto">
<h2>まだ登録が済んでない方はこちらから👇</h2>
</div>
<h3><%= render "public/users/shared/links" %></h3>
</div>
