<h3 class="title text-center">フォロワー一覧画面</h3>
<table class="ml-5">
 <% @followers.each do |user| %>
  <tr>
    <td class="col-md mx-auto text-center" >
      <%= link_to  public_user_path(user) do %>
        <% if user.avatar.attached? %>
          <%= image_tag user.avatar.variant(resize:'100x100').processed %>
        <% else %>
          <%= image_tag ("no_image.png"), size: '100x100'  %>
        <% end %>
      <% end %>
      <div class="col-md text-center">
      <strong><%=user.nickname %></strong>
      </div>
    </td>
  </tr>
 <% end %>
</table>
<%= link_to 'マイページ', public_user_path(current_user.id), class: 'btn btn--blue btn--cubic' %>