<p id="notice"><%= notice %></p>
<div class="container px-5 px-sm-0">
   <div class="row">
     <h4>プロフィール画面</h4>
   </div>
   <div class="row">
     <div class= col-md-5>
       <h4><%=@user.nickname %>さん</h4><br />
       <div>
       <% if @user.avatar.attached? %>
       <%= image_tag @user.avatar.variant(resize:'250x250').processed %>
       <% else %>
       <%= image_tag ("no_image.png") %>
       <% end %>
       </div><br />
       <h4><%=@user.profile %></h4>
     </div>
     <div>
      <% if @user.id == current_user.id %>
      <p><%= link_to "プロフィール編集", edit_public_user_path(@user) %></p><br />
      <p> <p><%= link_to "退会する", public_users_unsubscribepath(@user) %></p>
     </div>
  <% end %>
   </div>

<!--これ以降は、PostItemモデル作成後にコメントアウト外し対応-->
<%# @post_items.each do |post_item| %>
<!--<div>-->
  <%#= link_to post_item_path(post_image.id) do %>
      <!--問題：作品一つならこれで大丈夫だが、複数投稿の場合、写真表示は下記で大丈夫か？？-->
    <%#= image_tag post_item.image.variant(resize:'250x250').processed %>
    <%#= attachment_image_tag post_image, :image %>
    <!--この中に、いいね件数・コメント件数の表示をするようにもしたい-->
  <%# end %>
  <!--<p>作品名：<%#= post_item.image.name %></p>-->

<%# end %>
<!--ここに関してもPostItemモデルができな限りはページネーション不要なため保留-->
<%#= paginate @post_items %>
</div>