<p id="notice"><%= notice %></p>
<div class="container px-5 px-sm-0">
   <div class="row justify-content-md-center">
     <h3 class="title text-center">みんなの投稿一覧画面</h3>
  <%= form_tag public_post_items_path, method: :get do %>

  <% @genres.each do |genre| %>
      <div>
        <%= link_to genre.name, public_genre_path(genre.id) %>
      </div>
  <% end %>
      <div class="tag-box">
        <%= link_to "全ての投稿一覧", public_post_items_path %>
      </div>
   </div>
   <div class="row">
     <% @post_items.each do |post_item| %>
    <div class="row card offset-1">
     <div class="card-body">
       <h5 class="card-title"><%=post_item.name %></h5>
       <%= link_to  public_post_item_path(post_item) do %>
       <p class="card-image"><%= image_tag post_item.images[0] ,width:200, height:200 %></p>
       <% end %>
       <ここにいいね&ファボをつける>
        <div><br />
        <%= link_to  public_user_path(post_item.user) do %>
          <% if post_item.user.avatar.attached? %>
          <%= image_tag post_item.user.avatar.variant(resize:'100x100').processed %>
          <% else %>
          <%= image_tag ("no_image.png"), size: '100x100'  %>
          <% end %>
        <% end %>
       </div>
      </div>
       <%= "#{post_item.comments.count} コメント" %>
     </div>
     <% end %>
   </div>
<% end %>
</div>
