<p id="notice"></p>
  <div class="container px-5 px-sm-0">
    <div class="row justify-content-md-center">
      <h2>投稿</h2>
    </div><br />
  <%= form_with model: @post_item, url: public_post_items_path, method: :post, local:true do |f| %>
    <div class="row justify-content-md-center">
      <div class="form-group col-md-3">
       <%= f.label :images, '画像を投稿する' %>
       <%= f.file_field :images, multiple: true %>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="form-group">
       <%= f.label :name, '投稿作品名' %><br />
       <%= f.text_field :name %>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="form-group">
       <%= f.label :text, '投稿作品説明文'%><br />
       <%= f.text_area :text, rows:'10',cols:'100',placeholder: "(例)今回初めての投稿です。このアクセサリーは・・・" %><br />
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="form-group">
        <%= f.label :genre, 'ジャンル' %>
        <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |genre| %>
          <%= genre.label do %>
            <%= genre.check_box %>
            <%= genre.text %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="form-group">
        <%= f.submit '投稿する' %>
      </div>
    </div>
  <% end %>
</div>