<p id="notice"><%= notice %></p>
<div class="container px-5 px-sm-0">
   <div class="row justify-content-md-center">
     <h4><%=@post_item.name %></h4>
   </div><br />
    <div class="row justify-content-md-center">
      <div class="">
        <% @post_item.images.each do |image| %>
          <%= image_tag(image, width:250) %>
        <% end %>
      </div>
      <!--ユーザーがログインしていてかつ、@userが現在のユーザーでなければ表示（つまりマイページには表示されない）-->
    <% if user_signed_in? && @post_item.user_id != current_user.id %>
    <!--お気に入りボタンの実装-->
      <div id="favorite_area_<%= @post_item.id %>", class="favoriteArea">
        <%= render partial: "public/favorites/favorite", locals: { post_item: @post_item } %>
      </div>
    <% end %>
    </div><br />
    <div class="row text-center">
      <div class="col ">
        <h4><strong><%= @post_item.name %></strong></h4>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col text-center">
        <%=@post_item.text %>
      </div>
    </div>
    <div class="text-center">
    <h5><span>【登録ジャンル】</span></h5>
    </div>
    <div class="row justify-content-md-center">
      <% @post_item.genres.each do |genre| %>
      <div class="col text-center box">
        <%= genre.name %>
      </div>
    </div>
    <% end %>
    <% if @post_item.user_id == current_user.id %>
    <div class="row offset-3">
      <div class="col text-center">
        <%= link_to '削除', public_post_item_path(@post_item.id), method: :delete, data: { confirm: '削除してよろしいですか?' } %>
      </div>
      <div class="col">
        <%= link_to '編集', edit_public_post_item_path(@post_item.id) %>
      </div>
    <% end %>
    </div>
</div>
